$font: #5a3e20;
$text: #946333;
$playFont: #000;
$button: #5a3e20;
$buttonDark: #47280F;
$bg: #946333;
$border: #473018;
$shadow: 0 0 3px #000,
inset 0 1px 5px -2px #fff;
$shadowClick: 0 0 0px #955804,
inset 0 1px 0px -2px #fff;